<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.a9043.yiluwiki.mapper.YwForumPostMapper">
  <resultMap id="BaseResultMap" type="team.a9043.yiluwiki.entity.YwForumPost">
    <id column="yfp_id" jdbcType="INTEGER" property="yfpId" />
    <result column="yfp_abstract" jdbcType="VARCHAR" property="yfpAbstract" />
    <result column="yfp_title" jdbcType="VARCHAR" property="yfpTitle" />
    <result column="yfp_create_time" jdbcType="TIMESTAMP" property="yfpCreateTime" />
    <result column="yfp_update_time" jdbcType="TIMESTAMP" property="yfpUpdateTime" />
    <result column="yu_id" jdbcType="INTEGER" property="yuId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="team.a9043.yiluwiki.entity.YwForumPost">
    <result column="yfp_content" jdbcType="LONGVARCHAR" property="yfpContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    yfp_id, yfp_abstract, yfp_title, yfp_create_time, yfp_update_time, yu_id
  </sql>
  <sql id="Blob_Column_List">
    yfp_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="team.a9043.yiluwiki.entity.YwForumPostExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from yw_forum_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="team.a9043.yiluwiki.entity.YwForumPostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yw_forum_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from yw_forum_post
    where yfp_id = #{yfpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_forum_post
    where yfp_id = #{yfpId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.a9043.yiluwiki.entity.YwForumPostExample">
    delete from yw_forum_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.a9043.yiluwiki.entity.YwForumPost">
    <selectKey keyProperty="yfpId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yw_forum_post (yfp_abstract, yfp_title, yfp_create_time, 
      yfp_update_time, yu_id, yfp_content
      )
    values (#{yfpAbstract,jdbcType=VARCHAR}, #{yfpTitle,jdbcType=VARCHAR}, #{yfpCreateTime,jdbcType=TIMESTAMP}, 
      #{yfpUpdateTime,jdbcType=TIMESTAMP}, #{yuId,jdbcType=INTEGER}, #{yfpContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.a9043.yiluwiki.entity.YwForumPost">
    <selectKey keyProperty="yfpId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yw_forum_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yfpAbstract != null">
        yfp_abstract,
      </if>
      <if test="yfpTitle != null">
        yfp_title,
      </if>
      <if test="yfpCreateTime != null">
        yfp_create_time,
      </if>
      <if test="yfpUpdateTime != null">
        yfp_update_time,
      </if>
      <if test="yuId != null">
        yu_id,
      </if>
      <if test="yfpContent != null">
        yfp_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yfpAbstract != null">
        #{yfpAbstract,jdbcType=VARCHAR},
      </if>
      <if test="yfpTitle != null">
        #{yfpTitle,jdbcType=VARCHAR},
      </if>
      <if test="yfpCreateTime != null">
        #{yfpCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yfpUpdateTime != null">
        #{yfpUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yuId != null">
        #{yuId,jdbcType=INTEGER},
      </if>
      <if test="yfpContent != null">
        #{yfpContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.a9043.yiluwiki.entity.YwForumPostExample" resultType="java.lang.Long">
    select count(*) from yw_forum_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yw_forum_post
    <set>
      <if test="record.yfpId != null">
        yfp_id = #{record.yfpId,jdbcType=INTEGER},
      </if>
      <if test="record.yfpAbstract != null">
        yfp_abstract = #{record.yfpAbstract,jdbcType=VARCHAR},
      </if>
      <if test="record.yfpTitle != null">
        yfp_title = #{record.yfpTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.yfpCreateTime != null">
        yfp_create_time = #{record.yfpCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yfpUpdateTime != null">
        yfp_update_time = #{record.yfpUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yuId != null">
        yu_id = #{record.yuId,jdbcType=INTEGER},
      </if>
      <if test="record.yfpContent != null">
        yfp_content = #{record.yfpContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update yw_forum_post
    set yfp_id = #{record.yfpId,jdbcType=INTEGER},
      yfp_abstract = #{record.yfpAbstract,jdbcType=VARCHAR},
      yfp_title = #{record.yfpTitle,jdbcType=VARCHAR},
      yfp_create_time = #{record.yfpCreateTime,jdbcType=TIMESTAMP},
      yfp_update_time = #{record.yfpUpdateTime,jdbcType=TIMESTAMP},
      yu_id = #{record.yuId,jdbcType=INTEGER},
      yfp_content = #{record.yfpContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yw_forum_post
    set yfp_id = #{record.yfpId,jdbcType=INTEGER},
      yfp_abstract = #{record.yfpAbstract,jdbcType=VARCHAR},
      yfp_title = #{record.yfpTitle,jdbcType=VARCHAR},
      yfp_create_time = #{record.yfpCreateTime,jdbcType=TIMESTAMP},
      yfp_update_time = #{record.yfpUpdateTime,jdbcType=TIMESTAMP},
      yu_id = #{record.yuId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.a9043.yiluwiki.entity.YwForumPost">
    update yw_forum_post
    <set>
      <if test="yfpAbstract != null">
        yfp_abstract = #{yfpAbstract,jdbcType=VARCHAR},
      </if>
      <if test="yfpTitle != null">
        yfp_title = #{yfpTitle,jdbcType=VARCHAR},
      </if>
      <if test="yfpCreateTime != null">
        yfp_create_time = #{yfpCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yfpUpdateTime != null">
        yfp_update_time = #{yfpUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yuId != null">
        yu_id = #{yuId,jdbcType=INTEGER},
      </if>
      <if test="yfpContent != null">
        yfp_content = #{yfpContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where yfp_id = #{yfpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="team.a9043.yiluwiki.entity.YwForumPost">
    update yw_forum_post
    set yfp_abstract = #{yfpAbstract,jdbcType=VARCHAR},
      yfp_title = #{yfpTitle,jdbcType=VARCHAR},
      yfp_create_time = #{yfpCreateTime,jdbcType=TIMESTAMP},
      yfp_update_time = #{yfpUpdateTime,jdbcType=TIMESTAMP},
      yu_id = #{yuId,jdbcType=INTEGER},
      yfp_content = #{yfpContent,jdbcType=LONGVARCHAR}
    where yfp_id = #{yfpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.a9043.yiluwiki.entity.YwForumPost">
    update yw_forum_post
    set yfp_abstract = #{yfpAbstract,jdbcType=VARCHAR},
      yfp_title = #{yfpTitle,jdbcType=VARCHAR},
      yfp_create_time = #{yfpCreateTime,jdbcType=TIMESTAMP},
      yfp_update_time = #{yfpUpdateTime,jdbcType=TIMESTAMP},
      yu_id = #{yuId,jdbcType=INTEGER}
    where yfp_id = #{yfpId,jdbcType=INTEGER}
  </update>
</mapper>