<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.a9043.yiluwiki.mapper.YwForumReplyMapper">
    <resultMap id="BaseResultMap" type="team.a9043.yiluwiki.entity.YwForumReply">
        <id column="yfr_id" jdbcType="INTEGER" property="yfrId"/>
        <result column="yfr_floor" jdbcType="INTEGER" property="yfrFloor"/>
        <result column="yfr_content" jdbcType="VARCHAR" property="yfrContent"/>
        <result column="yfr_reply_to" jdbcType="INTEGER" property="yfrReplyTo"/>
        <result column="yfp_id" jdbcType="INTEGER" property="yfpId"/>
        <result column="yu_id" jdbcType="INTEGER" property="yuId"/>
        <result column="yfr_create_time" jdbcType="TIMESTAMP" property="yfrCreateTime"/>
        <result column="yfr_update_time" jdbcType="TIMESTAMP" property="yfrUpdateTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    yfr_id, yfr_floor, yfr_content, yfr_reply_to, yfp_id, yu_id, yfr_create_time, yfr_update_time
  </sql>
    <select id="selectByExample" parameterType="team.a9043.yiluwiki.entity.YwForumReplyExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from yw_forum_reply
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yw_forum_reply
        where yfr_id = #{yfrId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_forum_reply
    where yfr_id = #{yfrId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="team.a9043.yiluwiki.entity.YwForumReplyExample">
        delete from yw_forum_reply
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="team.a9043.yiluwiki.entity.YwForumReply">
        <selectKey keyProperty="yfrId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into yw_forum_reply (yfr_floor, yfr_content, yfr_reply_to,
        yfp_id, yu_id, yfr_create_time,
        yfr_update_time)
        values (#{yfrFloor,jdbcType=INTEGER}, #{yfrContent,jdbcType=VARCHAR}, #{yfrReplyTo,jdbcType=INTEGER},
        #{yfpId,jdbcType=INTEGER}, #{yuId,jdbcType=INTEGER}, #{yfrCreateTime,jdbcType=TIMESTAMP},
        #{yfrUpdateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="team.a9043.yiluwiki.entity.YwForumReply">
        <selectKey keyProperty="yfrId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into yw_forum_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="yfrFloor != null">
                yfr_floor,
            </if>
            <if test="yfrContent != null">
                yfr_content,
            </if>
            <if test="yfrReplyTo != null">
                yfr_reply_to,
            </if>
            <if test="yfpId != null">
                yfp_id,
            </if>
            <if test="yuId != null">
                yu_id,
            </if>
            <if test="yfrCreateTime != null">
                yfr_create_time,
            </if>
            <if test="yfrUpdateTime != null">
                yfr_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="yfrFloor != null">
                #{yfrFloor,jdbcType=INTEGER},
            </if>
            <if test="yfrContent != null">
                #{yfrContent,jdbcType=VARCHAR},
            </if>
            <if test="yfrReplyTo != null">
                #{yfrReplyTo,jdbcType=INTEGER},
            </if>
            <if test="yfpId != null">
                #{yfpId,jdbcType=INTEGER},
            </if>
            <if test="yuId != null">
                #{yuId,jdbcType=INTEGER},
            </if>
            <if test="yfrCreateTime != null">
                #{yfrCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yfrUpdateTime != null">
                #{yfrUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="team.a9043.yiluwiki.entity.YwForumReplyExample"
            resultType="java.lang.Long">
        select count(*) from yw_forum_reply
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update yw_forum_reply
        <set>
            <if test="record.yfrId != null">
                yfr_id = #{record.yfrId,jdbcType=INTEGER},
            </if>
            <if test="record.yfrFloor != null">
                yfr_floor = #{record.yfrFloor,jdbcType=INTEGER},
            </if>
            <if test="record.yfrContent != null">
                yfr_content = #{record.yfrContent,jdbcType=VARCHAR},
            </if>
            <if test="record.yfrReplyTo != null">
                yfr_reply_to = #{record.yfrReplyTo,jdbcType=INTEGER},
            </if>
            <if test="record.yfpId != null">
                yfp_id = #{record.yfpId,jdbcType=INTEGER},
            </if>
            <if test="record.yuId != null">
                yu_id = #{record.yuId,jdbcType=INTEGER},
            </if>
            <if test="record.yfrCreateTime != null">
                yfr_create_time = #{record.yfrCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.yfrUpdateTime != null">
                yfr_update_time = #{record.yfrUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update yw_forum_reply
        set yfr_id = #{record.yfrId,jdbcType=INTEGER},
        yfr_floor = #{record.yfrFloor,jdbcType=INTEGER},
        yfr_content = #{record.yfrContent,jdbcType=VARCHAR},
        yfr_reply_to = #{record.yfrReplyTo,jdbcType=INTEGER},
        yfp_id = #{record.yfpId,jdbcType=INTEGER},
        yu_id = #{record.yuId,jdbcType=INTEGER},
        yfr_create_time = #{record.yfrCreateTime,jdbcType=TIMESTAMP},
        yfr_update_time = #{record.yfrUpdateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="team.a9043.yiluwiki.entity.YwForumReply">
        update yw_forum_reply
        <set>
            <if test="yfrFloor != null">
                yfr_floor = #{yfrFloor,jdbcType=INTEGER},
            </if>
            <if test="yfrContent != null">
                yfr_content = #{yfrContent,jdbcType=VARCHAR},
            </if>
            <if test="yfrReplyTo != null">
                yfr_reply_to = #{yfrReplyTo,jdbcType=INTEGER},
            </if>
            <if test="yfpId != null">
                yfp_id = #{yfpId,jdbcType=INTEGER},
            </if>
            <if test="yuId != null">
                yu_id = #{yuId,jdbcType=INTEGER},
            </if>
            <if test="yfrCreateTime != null">
                yfr_create_time = #{yfrCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yfrUpdateTime != null">
                yfr_update_time = #{yfrUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where yfr_id = #{yfrId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="team.a9043.yiluwiki.entity.YwForumReply">
    update yw_forum_reply
    set yfr_floor = #{yfrFloor,jdbcType=INTEGER},
      yfr_content = #{yfrContent,jdbcType=VARCHAR},
      yfr_reply_to = #{yfrReplyTo,jdbcType=INTEGER},
      yfp_id = #{yfpId,jdbcType=INTEGER},
      yu_id = #{yuId,jdbcType=INTEGER},
      yfr_create_time = #{yfrCreateTime,jdbcType=TIMESTAMP},
      yfr_update_time = #{yfrUpdateTime,jdbcType=TIMESTAMP}
    where yfr_id = #{yfrId,jdbcType=INTEGER}
  </update>

    <select id="selectMaxFloor">
        select max(yfr_floor)
        from yw_forum_reply
        where yfp_id = ${yfpId}
    </select>
</mapper>