<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.a9043.yiluwiki.mapper.YwPageMapper">
  <resultMap id="BaseResultMap" type="team.a9043.yiluwiki.entity.YwPage">
    <id column="yp_id" jdbcType="INTEGER" property="ypId" />
    <result column="yp_type" jdbcType="VARCHAR" property="ypType" />
    <result column="yp_name" jdbcType="VARCHAR" property="ypName" />
    <result column="yp_abstract" jdbcType="VARCHAR" property="ypAbstract" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="team.a9043.yiluwiki.entity.YwPage">
    <result column="yp_content" jdbcType="LONGVARCHAR" property="ypContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    yp_id, yp_type, yp_name, yp_abstract
  </sql>
  <sql id="Blob_Column_List">
    yp_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="team.a9043.yiluwiki.entity.YwPageExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from yw_page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="team.a9043.yiluwiki.entity.YwPageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yw_page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from yw_page
    where yp_id = #{ypId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_page
    where yp_id = #{ypId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.a9043.yiluwiki.entity.YwPageExample">
    delete from yw_page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.a9043.yiluwiki.entity.YwPage">
    <selectKey keyProperty="ypId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yw_page (yp_type, yp_name, yp_abstract, 
      yp_content)
    values (#{ypType,jdbcType=VARCHAR}, #{ypName,jdbcType=VARCHAR}, #{ypAbstract,jdbcType=VARCHAR}, 
      #{ypContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.a9043.yiluwiki.entity.YwPage">
    <selectKey keyProperty="ypId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yw_page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ypType != null">
        yp_type,
      </if>
      <if test="ypName != null">
        yp_name,
      </if>
      <if test="ypAbstract != null">
        yp_abstract,
      </if>
      <if test="ypContent != null">
        yp_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ypType != null">
        #{ypType,jdbcType=VARCHAR},
      </if>
      <if test="ypName != null">
        #{ypName,jdbcType=VARCHAR},
      </if>
      <if test="ypAbstract != null">
        #{ypAbstract,jdbcType=VARCHAR},
      </if>
      <if test="ypContent != null">
        #{ypContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.a9043.yiluwiki.entity.YwPageExample" resultType="java.lang.Long">
    select count(*) from yw_page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yw_page
    <set>
      <if test="record.ypId != null">
        yp_id = #{record.ypId,jdbcType=INTEGER},
      </if>
      <if test="record.ypType != null">
        yp_type = #{record.ypType,jdbcType=VARCHAR},
      </if>
      <if test="record.ypName != null">
        yp_name = #{record.ypName,jdbcType=VARCHAR},
      </if>
      <if test="record.ypAbstract != null">
        yp_abstract = #{record.ypAbstract,jdbcType=VARCHAR},
      </if>
      <if test="record.ypContent != null">
        yp_content = #{record.ypContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update yw_page
    set yp_id = #{record.ypId,jdbcType=INTEGER},
      yp_type = #{record.ypType,jdbcType=VARCHAR},
      yp_name = #{record.ypName,jdbcType=VARCHAR},
      yp_abstract = #{record.ypAbstract,jdbcType=VARCHAR},
      yp_content = #{record.ypContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yw_page
    set yp_id = #{record.ypId,jdbcType=INTEGER},
      yp_type = #{record.ypType,jdbcType=VARCHAR},
      yp_name = #{record.ypName,jdbcType=VARCHAR},
      yp_abstract = #{record.ypAbstract,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.a9043.yiluwiki.entity.YwPage">
    update yw_page
    <set>
      <if test="ypType != null">
        yp_type = #{ypType,jdbcType=VARCHAR},
      </if>
      <if test="ypName != null">
        yp_name = #{ypName,jdbcType=VARCHAR},
      </if>
      <if test="ypAbstract != null">
        yp_abstract = #{ypAbstract,jdbcType=VARCHAR},
      </if>
      <if test="ypContent != null">
        yp_content = #{ypContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where yp_id = #{ypId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="team.a9043.yiluwiki.entity.YwPage">
    update yw_page
    set yp_type = #{ypType,jdbcType=VARCHAR},
      yp_name = #{ypName,jdbcType=VARCHAR},
      yp_abstract = #{ypAbstract,jdbcType=VARCHAR},
      yp_content = #{ypContent,jdbcType=LONGVARCHAR}
    where yp_id = #{ypId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.a9043.yiluwiki.entity.YwPage">
    update yw_page
    set yp_type = #{ypType,jdbcType=VARCHAR},
      yp_name = #{ypName,jdbcType=VARCHAR},
      yp_abstract = #{ypAbstract,jdbcType=VARCHAR}
    where yp_id = #{ypId,jdbcType=INTEGER}
  </update>
</mapper>